:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --gray-color: #C0C0C0;
    --darkgray-color: #0F0F0F;
    --invertido-color: #3f3f3f;
    --lightgray-color: #f3f3f3;
    --logo-red: #ed1c24;
    --logo-blue: #99d9ea;
    --gap: 3rem;
}